<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    demn bro
    <h1>hey there this is me muzammil</h1>
    <h1>hey dude wasupp everything is good?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae libero ab obcaecati, vitae error alias, exercitationem, iusto delectus nostrum itaque consectetur voluptates quia ad ex! Mollitia labore tenetur doloremque ab.
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, amet deserunt. Tenetur quaerat perspiciatis, eos omnis sunt eligendi dolore quis atque quas quod laudantium perferendis voluptate, doloribus aperiam pariatur quia.</p>
</body>
</html>