<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    demn bro
    <h1>hey dude wasupp everything is good?</h1>
    <h2>hey muzammil wasupp</h2>
</body>
</html>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, dolor magnam fuga voluptatum delectus recusandae ipsam facilis similique aut totam animi non veritatis. Eius repellat nam laborum quia molestias debitis.